.App {
  text-align: center;
}
$orange: #f77943;
$green: #43f79d;
$black: #4d3a32;
$white: #b3aeaa;


body {
 background-color: $white;
 color: $black;
 font-size: 16px/120%;
}
.ui.text.container {
  max-width: 550px;
}
.ui.secondary.pointing.menu {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.segment.user-vote {
  position: relative;
  background-color: lighten(#21ba45, 50%);
  &:after {
    content: '';
    position: absolute;
    height: 71px;
    width: 75px;
    color: white;
    background-image: url('images/your-vote.png');
    top: -35px;
    right: -35px;
    transform: rotate(0.03turn);
  }
}